{
  "branches": ["master", {"name": "develop", "prerelease": true}],
  "plugins": [
    ["semantic-release-heroku", {
      "npmVersion": true,
      "name": "techla-whiteapp"
    }],
    "@semantic-release/changelog"
  ]
}
