{
  "branches": ["master", {"name": "develop", "prerelease": true}],
  "plugins": [
    ["@semantic-release/exec", {
      "prepareCmd": "docker build -t username/imagename ."
    }],
    ["semantic-release-docker", {
      "name": "username/imagename"
    }]
  ]
}
