{
  "branches": ["develop"],
  "plugins": [
    ["@semantic-release/exec", {
      "prepareCmd": "yarn docker:build"
    }],
    ["semantic-release-docker", {
      "name": "techla/whiteapp"
    }]
  ]
}
